/* CategoriesTable.module.css */

.categories-table {
    width: 100%;
    border-collapse: collapse;
}

.categories-table th,
.categories-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.categories-table th {
    background-color: #f2f2f2;
}

.categories-table tr:hover {
    background-color: #f5f5f5;
}
.panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 465px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  
  overflow: auto;
  /* Estilos da scroll bar */
  scrollbar-width: thin;
  scrollbar-color: var(--green2) var(--white);
}
.table{
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 50%;
  table-layout: fixed;
  background-color: color-mix(in srgb, var(--green1),transparent 50%);
}
.apagarButton {
  position: relative;
  right: 10px;
  bottom: 10px;
  max-width: 30px;
  aspect-ratio: 2;
  cursor: pointer;
  transition: ease-on 0.01s;
  background-color: transparent;
  color: var(--black);
}
/* Animação do botão apagar */
.apagarButton:hover {
  transform: scale(1.2);
  background-color: transparent;
  transition: ease 0.01s;
}
.title{
  font-size: 24px;
  font-weight: bold;
  color: var(--green3);
  padding-top: 2rem;
}
.header{
  display:relative;
  font-weight: bold;
  color: var(--green3)
}


  