.task {
    position: relative;
    width: 190px;
    height: 50px; /* tamanho do espaço em que é inserido cada post-it (inclui espaçamento entre post-its) */
    margin-top: 20px;
    background-color: var(--grey);
    margin-top: 30px;
    margin-bottom: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .panel::-webkit-scrollbar,
.text-task::-webkit-scrollbar {
  width: 13px;
}
/* Cor da barra */
.panel::-webkit-scrollbar-thumb,
.text-task::-webkit-scrollbar-thumb {
  background-color: var(--green2);
  border-top-right-radius: 8px;
}
/* Distância à direita a que a barra fica da border, cor do trilho e arredondamento para fazer
match ao arredondamento do painel (home.html) */
.panel::-webkit-scrollbar-track,
.text-task::-webkit-scrollbar-track {
  margin-right: 1px;
  background-color: var(--white);
  border-top-right-radius: 9px;
}
/* Altura da scroll bar */
.panel::-webkit-scrollbar,
.text-task::-webkit-scrollbar {
  height: calc(100% - 2px);
  padding-right: 1px;
}  
  /* Esconde o texto da description */
  .postItText {
    max-height: 0;
    transition: all 0.5s ease;
    overflow: hidden;
  }
  /* Definições do conteúdo de cada post-it */
  .postIt {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
  }
  .postIt h3 {
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 13px;
  }
  .postIt p {
    font-size: 0.825rem;
    padding-inline: 13px;
    overflow: hidden;
    opacity: 1;
    display: -webkit-box; /* Define o display como flexível */
    -webkit-line-clamp: 5; /* número de linhas que o texto vai mostrar */
    -webkit-box-orient: vertical;
    margin: 0;
  }
  /* Cores dos post-it de acordo com a prioridade */
  .task.low {
    --grey: #a8db27;
  }
  .task.medium {
    --grey: #ffd549;
  }
  .task.high {
    --grey: #ff3232;
    color: color-mix(in srgb, var(--white), var(--white) 95%);
  }
  /* Expansão de cada task para mostrar description e cruz de apagar */
  /* Dimensão da janela do post-it totalmente expandida */
  .task:hover {
    height: 190px;
    transition: all 0.5s ease-in-out;
  }
  /* Faz o texto do post-it aparecer */
  .task:hover .postItText {
    max-height: 190px;
    transition: all 0.5s ease;
  }
  /* Dragging de cada tarefa */
  .task.dragging {
    opacity: 0.5;
  }
  .task:hover {
    background-color: color-mix(in srgb, var(--grey), white 25%);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
  }
  /* Definições da cruz que apaga a task */
  /* Não mostra na mini-janela do post-it */
  .task .apagarButton {
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  /* Mostra na mini-janela do post-it */
  .task:hover .apagarButton {
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
  /* Posição do botão apagar */
  .apagarButton {
    position: absolute;
    right: 10px;
    bottom: 10px;
    max-width: 17px;
    aspect-ratio: 1;
    cursor: pointer;
    transition: ease-on 0.01s;
  }
  /* Animação do botão apagar */
  .apagarButton:hover {
    rotate: 360deg;
    transition: ease 0.01s;
  }
.deleted {
  opacity: 0.5;
}
.restoreButton {
  position: absolute; /* Posiciona o botão no canto superior esquerdo */
  bottom: 10px;
  left: 10px;
  font-size: 16px;
  cursor: pointer;
  max-width: 17px;
  transition: ease-on 0.01s;
}
.restoreButton:hover {
  rotate: 360deg;
  transition: ease 0.01s;
}  
.task .restoreButton {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
/* Mostra na mini-janela do post-it */
.task:hover .restoreButton {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}