.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 0;
    background-color: var(--green1);
    color: var(--white);
    padding: 20px;
    text-align: center;
    position: relative;
    transition: ease 0.5s;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: --green3;
  }