/* Definições do relógio */
.container_clock {
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .display-date,
  .display-time {
    font-size: 0.9rem;
    font-weight: 200;
    -webkit-box-reflect: below 2px
      linear-gradient(transparent, rgba(255, 255, 255, 0.05));
    color: var(--light-grey);
    margin-left: -260px;
  }
  .display-date {
    text-align: center;
  }
  .display-time {
    display: flex;
    margin-left: 0px;
    transition: ease-in-out 0.1s;
    transition-property: background, box-shadow, color;
  }