.logout {
    margin-right: 0.5rem;
    background-color: var(--green3);
    color: var(--light-grey);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 15px;
    border-radius: 5px;
  }
  .logout img {
    width: 18px;
    height: 19px;
    margin-right: 8px;
    content : url("../multimedia/logout.png");
  }
  /* Definições do link de logout no header (default e hover) */
  .logout-link {
    margin-right: 100px;
    color: var(--green2);
  }
  .logout:hover {
    background-color: var(--light-grey);
    color: var(--green2);
  }
  .logout:hover img {
    content: url("../multimedia/logout_hover.png");
  }