.loginpanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 3;
  padding: 20px;
  font-size: 15px;
  text-align: center;
  color: var(--green3);
  background-color: color-mix(in srgb, var(--green1), transparent 40%);
  border-radius: 10px;
  height: 440px;
  width: 330px;
}
.centercontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--white);
}
.input {
  align-self: auto;
  margin-right: 10px;
  border-radius: 5px;
  height: 20px;
  border: 1px solid var(--green3);
  background-color: var(--white);
  color: var(--green3);
  font-size: 15px;
  width: 100%;
}
.input ::placeholder {
  color: var(--green2);
}

